# Node.js dependencies
node_modules
**/node_modules

# Git version control
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yml

# log
*.log

# output
dist
.next
build

# env variables
.env
.env.local
.env.*.local

# system document
.DS_Store
Thumbs.db

# IDE/edit setting
.vscode
.idea
