
# Node
node_modules/
dist/
.env

# Python
*.pyc
__pycache__/
*.egg-info/
*.sqlite3
venv/

# VS Code
.vscode/

# Data files
*.csv
*.tsv
raw/
extractor/skill_alias_map.json

#venv
.venv/
venv/
ENV/